.grid-container {
  display: grid;
  grid-template-columns: minmax(min-content, min-content) 4fr 7fr;
  /* grid-template-rows: */
  /*-color: #2196F3; */
  padding: 10px;
}

.commonstyling {
  //background-color: rgba(125, 125, 125, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
  overflow: auto;
  margin: 2px;
}

.main-category-of-elements {
  grid-area: 1 / 1 / 2/ 4;
}

.sub-category-of-manin-elements {
  grid-area: 2/3/3/4;
}

.options-for-editing-the-image {
  grid-area: 2/1/4/2;
  max-width: 100%;
}

.main-target-image {
  grid-area: 2/2/4/3;
}

button {
  max-width: 100%;
}

img {
  max-width: 100%;
}

/*
img.target-image {
  max-height: 100%;
}*/

.option-image-elements {
  height: 5em;
  width: 5em;
  display: inline-block;
  border: 2px solid lightblue;
}

.image-options-to-choose {
  overflow: auto;
}

.button-operations {
  overflow: auto;
}
